@media screen and (max-width: 780px) {
  html {
    font-size: calc(1vw / 6);
  }
  #indexWrapper {
    width: calc(100% - 40rem);
    margin: 20rem;
    height: fit-content;
  }
  .indexContainer {
    flex-direction: column;
  }
  .indexContainer > div {
    width: 100%;
  }
  #index h1 {
    font-size: 100rem;
    margin-top: 40rem;
  }
}
@media screen and (max-width: 1280px) {
  #indexWrapper {
    justify-content: flex-end;
    gap: 100rem;
  }
}
