@import 'reset.css';
@import 'fonts.css';

* {
  box-sizing: border-box;
}
html {
  font-size: calc(1vw / 14.4);
  scroll-behavior: smooth;
}
body {
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
  background-color: #eee;
}
.O_HeaderArticles {
  width: 100%;
  background-color: #4c445c;
  color: #eee;
  padding: 30rem 40rem;
  border-radius: 0 0 40rem 40rem;
}
.O_HeaderArticlesLinks,
.O_Articles {
  display: flex;
  gap: 20rem;
}
.O_Articles {
  padding: 30rem 40rem;
  width: 80%;
  margin: 0 auto;
  flex-wrap: wrap;
}
.W_ArticlesCard {
  width: calc(25% - 15rem);
  display: flex;
  flex-direction: column;
  gap: 14rem;
  background-color: #847d92;
  border-radius: 20rem;
  padding-bottom: 20rem;
  color: #eee;
}
.W_ArticlesCardImageWrapper {
  background-color: #4c445c;
  border-radius: 20rem;
  padding: 20rem 20rem 0;
  min-height: 212rem;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.C_ArticlesCardTags {
  display: flex;
  flex-wrap: wrap;
  gap: 10rem;
}
.A_HeaderArticlesLink {
  color: #eee;
  text-decoration: none;
  font-size: 20rem;
  transition: color 0.4s ease;
}
.A_HeaderArticlesLink:hover {
  color: #bababa;
  transition: color 0.8s ease;
}
.A_HeaderArticlesH1 {
  font-size: 120rem;
  margin-top: 100rem;
  font-weight: 700;
}
.A_ArticlesCardImage {
  width: 100rem;
  display: block;
}
.W_ArticlesCardContent {
  padding: 0 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 20rem;
}
.A_ArticlesCardHeader {
  font-size: 28rem;
}
.A_ArticleCardTag {
  font-size: 16rem;
  border-radius: 20rem;
  border: 2rem solid #eee;
  padding: 10rem 14rem;
  width: fit-content;
}

.swiper {
  width: 100%;
  height: 100%;
}
.O_Swiper {
  padding: 30rem 40rem;
  width: 80%;
  height: 600rem;
  font-size: 20rem;
  margin: 0 auto;
}
.W_ArticleSlide {
  display: flex;
  border-radius: 20rem;
  height: 100%;
  background-color: #847d92;
  color: #eee;
}
.W_SlideImageWrapper {
  background-color: #4c445c;
  border-radius: 20rem;
  padding: 20rem 60rem 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.O_Swiper .W_ArticlesCardContent {
  padding: 40rem;
}
.swiper-pagination-bullet-active {
  background: #4c445c;
}
@media screen and (max-width: 1279px) {
  .W_ArticlesCard {
    width: calc(33% - 20rem);
  }
  .O_Swiper {
    height: 500rem;
  }
}
@media screen and (max-width: 1023px) {
  .O_Articles,
  .O_Swiper {
    width: 100%;
  }
  .O_Swiper {
    height: 400rem;
  }
}
@media screen and (max-width: 767px) {
  html {
    font-size: calc(1vw / 7);
  }
  .W_ArticlesCard {
    width: calc(50% - 10rem);
  }
  .A_ArticlesCardImage {
    width: 200rem;
  }
  .W_ArticlesCardImageWrapper {
    min-height: 412rem;
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: calc(1vw / 5);
  }
  .W_ArticlesCard {
    width: 100%;
  }
  .O_Articles,
  .O_Swiper {
    padding: 20rem;
  }
}
