/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: 'PT Root UI';
  src: url(fonts/f82344daaacb5424b169.woff),
    url(fonts/f31c5219b0912845f393.woff2);
  font-weight: 700;
}
@font-face {
  font-family: 'PT Root UI';
  src: url(fonts/e24244df074291681cd3.woff),
    url(fonts/6f2ccf4ac327e1d6507e.woff2);
  font-weight: 500;
}
@font-face {
  font-family: 'PT Root UI';
  src: url(fonts/ea7178e3e5d27a1d3248.woff),
    url(fonts/b43dba986b9cde356afd.woff2);
  font-weight: 400;
}
@font-face {
  font-family: 'PT Root UI';
  src: url(fonts/8bf08d3a5b04f523d0d4.woff),
    url(fonts/f0497492db8214d4938e.woff2);
  font-weight: 300;
}

* {
  box-sizing: border-box;
}
html {
  font-size: calc(1vw / 14.4);
  scroll-behavior: smooth;
}
body {
  font-family: 'PT Root UI', Arial, Helvetica, sans-serif;
  background-color: #eee;
}
.W_HeaderLinks {
  padding: 10rem 40rem;
}
.A_HeaderLink {
  text-decoration: none;
  color: #aaa;
  transition: all ease 0.4s;
}
.A_HeaderLink:hover {
  color: #fff;
  transition: all ease 0.6s;
}
.O_Header {
  background-color: #010101;
  border-radius: 0 0 40rem 40rem;
  overflow: hidden;
}
.M_Header {
  display: flex;
  justify-content: space-between;
  padding: 0 40rem 40rem;
  align-items: center;
}
/* .A_HeaderImage {
  width: 200rem;
} */
.A_HeaderImage {
  width: 400rem;
  height: 300rem;
  background-image: url(images/d2c1989ef173e667a6c8.jpg);
  background-size: 400rem 3600rem;
  background-position-y: 300rem;
  transform-origin: center;
  transform: scale(1);
  animation: spriteCrystalAnim 1.5s steps(1) infinite alternate paused;
  transition: transform 0.1s linear;
}
.A_HeaderImage:hover {
  animation-play-state: running;
  transform: scale(1.15);
  transition: transform 0.5s linear;
}
.A_MainHeader {
  font-weight: 700;
  font-size: 120rem;
  color: #d8d8d8;
  display: block;
}
.A_SectionHeader {
  font-weight: 500;
  font-size: 58rem;
  line-height: 64rem;
  color: #090227;
  margin-bottom: 30rem;
}
.A_SectionDopHeader {
  font-weight: 500;
  font-size: 38rem;
  line-height: 54rem;
  color: #090227;
  margin-bottom: 20rem;
}
.A_MainSectionText,
.A_HeaderLink {
  font-weight: 400;
  font-size: 28rem;
  line-height: 36rem;
  color: #090227;
}
.A_MainSectionText {
  margin-bottom: 20rem;
}
.S_Main {
  display: flex;
  padding: 60rem 0;
}
.O_Sidebar,
.O_Aside {
  padding: 0 20rem;
  width: 20%;
  position: relative;
}
.O_MainSection {
  width: 60%;
  position: relative;
}
.C_MainSectionLinks {
  width: 16vw;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  background-color: #090227cc;
  border-radius: 30rem;
  padding: 10rem;
}
.A_MainSectionLink {
  width: 100%;
  border-radius: 22rem;
  background: #eee;
  color: #090227;
  padding: 10rem 20rem;
  text-decoration: none;
  transition: all ease 0.4s;
  font-size: 28rem;
}
.A_MainSectionLink:hover {
  background: #090227;
  background: radial-gradient(circle, rgb(69, 46, 128) 0%, rgb(9, 2, 39) 100%);
  color: #eee;
  transition: all ease 0.8s;
}
.C_MainSectionLinks a:active {
  background-color: cornflowerblue;
}
.W_MainSection {
  margin-top: 80rem;
}
.W_MainSectionBlock_row {
  display: flex;
  gap: 20rem;
}
.W_MainSectionBlock_column {
  padding: 40rem 0 0 180rem;
  display: flex;
  flex-direction: column;
  gap: 20rem;
}

@keyframes spriteCrystalAnim {
  0% {
    background-position-y: 0;
  }
  8% {
    background-position-y: -300rem;
  }
  16% {
    background-position-y: -600rem;
  }
  24% {
    background-position-y: -900rem;
  }
  32% {
    background-position-y: -1200rem;
  }
  40% {
    background-position-y: -1500rem;
  }
  48% {
    background-position-y: -1800rem;
  }
  56% {
    background-position-y: -2100rem;
  }
  64% {
    background-position-y: -2400rem;
  }
  72% {
    background-position-y: -2700rem;
  }
  80% {
    background-position-y: -3000rem;
  }
  88% {
    background-position-y: -3300rem;
  }
}

@media screen and (max-width: 1023px) {
  .O_Aside {
    display: none;
  }
  .O_MainSection {
    width: 80%;
    padding: 0 20rem;
  }
}
@media screen and (max-width: 600px) {
  .S_Main {
    flex-direction: column;
  }
  .O_MainSection,
  .O_Sidebar {
    width: 100%;
  }
  .O_MainSection {
    padding-bottom: 90rem;
  }
  .C_MainSectionLinks {
    z-index: 2;
    flex-direction: row;
    width: 90%;
    bottom: 10rem;
    /* background-color: #09022775;
    backdrop-filter: blur(4rem); */
  }
  /* .C_MainSectionLinks a {
    background-color: #eeeeee75;
    backdrop-filter: blur(4rem);
  } */

  .A_MainHeader {
    font-size: 190rem;
  }
  .A_SectionHeader {
    font-size: 92rem;
    line-height: 1.5rem;
    margin-bottom: 70rem;
  }
  .A_SectionDopHeader {
    font-size: 70rem;
    line-height: 54rem;
    margin: 50rem 0;
  }
  .A_MainSectionText,
  .A_HeaderLink {
    font-size: 60rem;
    line-height: 1.5;
  }
  .W_MainSectionBlock_column {
    padding: 40rem 0 0 40rem;
    gap: 40rem;
  }
  .W_MainSectionBlock_row {
    flex-direction: column;
  }
}

